html{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
}

#root{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a{
  position: relative;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
}
a:focus, a:active{
  outline: none;
  color: inherit;
  margin: none;
}