.friendspagecontainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 5% 15%;
    box-sizing:border-box;
    font-size: 1rem;
}

    .friendslistcontainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
.friendspagecontainer img {
    border-radius: 50%;
    width: 100%;
    transition-duration: .5s;
    box-shadow: 4px 9px 21px -5px rgba(0,0,0,0.3);
}

.friendspagecontainer img:hover{
        transform: scale(1.5);
    }

    .friend{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: .9rem;
    }

.friendpopupcontainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 40;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .friendpopup{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40vw;
        height: 70vh;
        border-radius: 2px;
        position: relative;
        overflow-y: scroll;
    }
        .friendsecondpopup img{
            width: 100px;
        }
            .friendpopup img:hover {
                transform: scale(1);
            }

    .friendpopup button{
        position: relative;
        margin: 8px;
        border: none;
        padding: 10px;
        transition-duration: .75s;
        border-radius: 5px;
    }

    .friendpopup button:hover{
        position: relative;
        margin: 8px;
        background-color: rgb(87, 146, 235);
        transition-duration: .75s;
    }

.exiticon{
    position: absolute;
    top: 0;
    right: 0;
    transition-duration: .75s;
    font-size: 1.3rem;
}
.exiticon:hover{
    color: red;
    transition-duration: .75s;
}

.gamesscheduledcontainer{
    display: flex;
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
}

    .gamesscheduledcontainer .eachgame{
        display: flex;
        width: 100%;
        margin: 5px;
        transition-duration: .5s;
    }
        .gamesscheduledcontainer .eachgame:hover{
            background-color: rgba(87, 146, 235, 0.171);
            transition-duration: .5s;
        }

        .gamesscheduledcontainer .eachgamesport{
            color: blue;
            font-style: italic;
            margin: 0 2px;
        }
        .gamesscheduledcontainer .eachgamelocation{
            color: green;
            margin: 0 2px;
        }

        .gamesscheduledcontainer .eachgamedate{
            color: red;
            margin: 0 2px;
        }

.clickedGame{
    background-color: rgba(87, 146, 235, 0.445);
    transition-duration: .5s
}
    .addordeleteicon{
        margin-right: 20px;
        width: 10%;
    }
    .eachgame .sentencecontainer{
        width: 80%;
    }
    .eachgame .fa-check{
        color: green;
        margin-left: 20px;
    }
    .eachgame .checkmark{
        width: 10%;
        display: inline;
    }

.friendpopup .fa-times-circle{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2rem;
    color: black;
    transition-duration: .5s;
}
.friendpopup .thirdconfirmationcheck{
    color: green;
    margin-top: 20px;
}
    .friendpopup .fa-times-circle:hover{
        color: rgb(138, 56, 42);
        transition-duration: .5s;
    }
@media only screen and (max-width: 1200px) {
    .friendpopup{
        width: 80vw;
    }
}
@media only screen and (max-width: 600px) {

    .friendspagecontainer{
        font-size: .5rem;
    }

    .friendspagecontainer img {
        width: 100px;
    }

    .friendpopupcontainer{
        font-size: .8rem;
    }
        .friendpopup{
            width: 90vw;
        }
}