.gamesscheduledpage{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-y: scroll;

}
    .activitycontainer{
        display: flex;
        min-width: 400px;
        height: 250px;
        margin: 20px;
    }
    .whichsportgs{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        background-color: black;
        height: 100%;
        color: white;
    }
    .calendar{
        display: flex;
        flex-direction: column;
        width: 30%;
        background-color: white;
        height: 100%;
    }
        .calendar p{
            height: 33%;
        }
            .calendar .dayoftheweek{
                font-size: 1.2rem;
                color: rgb(100, 161, 108);
                align-self: flex-start;
                margin-left: 10px;
                font-weight: bold;
            }
            .calendar .date{
                background-color: green;
                width: 80%;
                color: white;
                font-size: 1.6rem;
                align-self: flex-end;
            }
            .calendar .year{
                font-size: 2rem;
            }
    .individualgame{
        display: flex;
        width: 39%;
        height: 100%;
        justify-content: center;
        align-items: center;
        opacity: 50%;
        transition-duration: .5s;
        border-radius: 5px;
        color: white;
        font-size: 1.1rem;
        text-align:center;
    }
        .individualgame:hover{
            opacity: 100%;
            transition-duration: .5s;
            display: flex;

        }

@media only screen and (max-width: 700px) {
    .activitycontainer{
        display: flex;
        min-width: 90%;
        height: 250px;
        margin: 20px;
    }
}