.backarrow{
    position: absolute;
    top: 2vh;
    left: 0;
    transition-duration: 1s;
}

.backarrow:hover{
    color: gray;
    transition-duration: 1s;
}
.infowindow{
    background-color: white;
    border-radius: 20px;
    padding: 5%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}


    .infowindow p {
        font-size: 12px;
    }

.smallscreensidebar{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 15;
    background-color: rgba(0, 0, 0, .50);
}
    .smallscreensidebardiv{
        height: 90%;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: rgb(199, 196, 196);
        padding: 10% 15%;
        text-align: center;
    }
        .smallscreensidebardiv .finishedbutton{
            color: rgb(0, 0, 0);
            transition-duration: .5s;
        }
        .smallscreensidebardiv .finishedbutton:hover{
            color:rgba(0,0,0, .5);
            transition-duration: .5s;
        }
.mapsidebar {
    background-color: rgb(199, 196, 196);
    position: absolute;
    padding: 20px;
    padding-right: 20px;
    padding-top: 10vh;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
}

.locate {
    box-sizing: border-box;
    position: absolute;
    bottom: 30px;
    left: 20px;
    background: none;
    border: none;
    z-index: 10;
    width: 30px;
    cursor: pointer;
    color: rgb(165, 65, 65);
    transition-duration: .5s;
    font-size: 3rem;
}

.locate:hover{
    color: rgba(165, 65, 65, 0.616);
    transition-duration: .5s;
}

.maploadingiconcontainer{
    position: absolute;
    height: 100vh;
    width: 80vw;
    top:0;
    left: 20vw;
    background-color: rgb(23,92,103);
    z-index: 1999;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .maploadingicon{
        z-index: 22222;
        -webkit-animation-name: rotate;
        animation-name: rotate;
-webkit-animation-duration: .5s;
        animation-duration: .5s;
-webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }

.datecirclebutton{
    position: absolute;
    top: 50vh;
    left: 10px;
    display: flex;
    background-color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border: 1px solid black;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

@keyframes rotate {
    from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

@media only screen and (max-width: 1000px) {
    .mapsidebar{
        display: none;
    }

    .backarrow{
        position: absolute;
        top: 5px;
        left: 0;
        transition-duration: 1s;
    }
    .actualmap{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 80vh;
    }
}

@media only screen and (min-width: 1000px){
    .datecirclebutton{
        display: none;
    }
}