/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.LoginScreen{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5) ), url('../images/ParkBasketball.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.loginscreenpopup{
    position: absolute;
    right: 0;
    border-radius: 20px;
    background-color: rgba(155, 91, 23, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    width: 50%;
    text-align: center;
}
    .loginscreenpopup button{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: rgb(235, 188, 118);
        border-radius: 2px;
        padding: 10px;
        width: 100px;
        border: none;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

.LoginScreen h1, .LoginScreen h2 {
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.LoginScreen h2{
    margin-bottom: 30px;
}

.LoginScreen form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.LoginScreen input{
    border: 0;
    height: 20px;
    border-radius: 2px;
    margin: 5px;
    background-color: rgba(256, 256, 256, .4);
    color: white;
}
    .LoginScreen input, select, textarea{
        color: white;
    }


.loginbutton{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgb(235, 188, 118);
    border-radius: 2px;
    padding: 5px;
    border: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
a:active{
    text-decoration: none;
}

@media only screen and (max-width: 700px) {
    .LoginScreen{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0, 10px;
        background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ), url('../images/smallscreenlogin.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-family: 'Roboto', sans-serif;
        color: white;
    }

    .LoginScreen h2 {
        text-align: center;
        border-radius: 5px;
        font-size: 1rem;
        margin: 0 10px;
    }

}