.searchfriendpage{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 7%;
    height: 100%;
    box-sizing: border-box;
    transition-duration: .5s;
}
    .searchbox{
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: .5s;
    }
    .searchbox input{
        width: 300px;
        height: 80px;
        background-color: rgba(23,92,103,1);
        font-size:  2rem;
        border-bottom: 1px solid;
        border-top: none;
        border-image-slice: 1;
        border-image-source: linear-gradient(to left, #175C67, #58AFE9, #175C67);
        color: black;
        transition-duration: .5s;
    }
    .searchbox input:active, .searchbox input:focus{
        outline: none;
    }
    .searchbox i{
        font-size: 2rem;
    }
    .searchfriendpage .results{
        height: 80%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
    }
    .clickedsearchbox{
        width: 80%;
        height: 20%;
    }
    .notclickedsearchbox{
        width: 80%;
        height: 100%;
    }
        .searchfriendpage .notclickedresults{
                height: 0;
                transition-duration: .5s;
        }
        .results{
            overflow-y: scroll;
            padding: 100px;
            transition-duration: .5s;
        }
        .results .individualresults{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 0;
        }
            .results img{
                border-radius: 50%;
                width: 40px;
                margin-right: 5px;
            }


@media only screen and (max-width: 800px) {
    .searchbox i{
        font-size: 1rem;
    }
}