/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.timelinepage{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 7%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
    .timelineactions{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 70%;
        padding-bottom: 10px;
        border-bottom: 1px solid black;
        margin: 25px 0;
    }
        .timelinepicture{
            border-radius: 50%;
            width: 50px;
        }

@media only screen and (max-width: 900px) {
    .timelinepage{
        font-size: .5rem;
        color: rgb(175, 175, 175)
    }
        .timelinepage img{
            margin-right: 10px;
        }

    .timelineactions{
        width: 90%;
    }
    .timelinepicture{
        width: 25px;
    }
}
