@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
.userpagecontainer{
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: #175C67;
    width: 100vw;
    display: flex;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    animation-name: pageload;
    animation-duration: .5s;
}
    .userpagecontainer .link{
        z-index: 3;
    }
    .userpagesidebar{
        position: fixed;
        top: 0;
        height: 100%;
        width: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 3rem;
        z-index: 1;
        padding-left: 10px;
    }
        .userpagesidebar i{
            color: rgb(158, 160, 158);
            transition-duration: .5s;
        }
        .userpagesidebar i:hover{
            color: rgb(255, 255, 255);
            transition-duration: .5s;
        }
    .userpagemaincontent{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height: 100%;
    }
        .userpagemaincontent img{
            height: 300px;
            border-radius: 50%;
            border: 2px solid #58AFE9;
        }
        .userpagecontainer .usernamecontainer{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
        }

        .invitebutton{
            background-color: rgb(62, 114, 156);
            border: none;
            width: 80px;
            color: gray;
            border-radius: 5px;
        }
        .scorecontainer{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
            .playtimescore, .gamessetupscore{
                width: 130px;
                height: 130px;
                font-size: 2rem;
                border-radius: 50%;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 5px;
            }
            .playtimescore{
                border: 4px solid green;
                color: green;
            }
            .userinformation{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            .gamessetupscore{
                border: 2px solid blue;
                color: blue;
            }
.userpagebackarrow{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3rem;
    z-index: 3;
}

@keyframes pageload {
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(0)
    }
}

@media only screen and (max-width: 800px) {
    .userpagemaincontent img{
        height: 200px;
        border-radius: 50%;
        border: 2px solid #58AFE9;
    }
    .playtimescore, .gamessetupscore{
        width: 100px;
        height: 100px;
    }
}